:root {
    --white: hsl(0, 0%, 100%);
    --rose-white: hsl(330, 100%, 98%);
    --eggshell: hsl(30, 54%, 90%);
    --light-grey: hsl(30, 18%, 87%);
    --wenge-brown: hsl(30, 10%, 34%);
    --wark-charcoal: hsl(24, 5%, 18%);
    --nutmeg: hsl(14, 45%, 36%);
    --dark-raspberry: hsl(332, 51%, 32%);
}

*,*::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
  font-family: "Outfit", sans-serif;

}
body {
    background-color: var(--eggshell);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;

}

.recipe {
    width: 600px;
    border-radius: 18px;
    background-color: var(--white);
}

.recipe__header {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.recipe__header-image {
    border-radius: 10px;
    width: 100%;

}
.recipe__heading {
    font-size: 25px;
      font-family: "Young Serif", serif;
      color: var(--wark-charcoal);
      font-weight: 500;

}
.recipe__description {
    color: var(--wenge-brown);
    line-height: 22px;

}
.recipe__preparation {
    padding: 20px;
    background-color: var(--rose-white);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;

}
.recipe__preparation-heading {
    color: var(--dark-raspberry);
    font-weight: 600;

}
.recipe__preparation-list-container {

}
.recipe__preparation-list{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-left: 10px;
    color: var(--wenge-brown);
}
.recipe__preparation-list-item {
    display: flex;
    align-items: center;
    gap: 5px;
 }
.recipe__preparation-list-item span {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: var(--nutmeg);
    margin-right: 20px;
}
.recipe__body {
    padding: 20px;
    /* background-color: red; */
    color: var(--wenge-brown);
}
.recipe__ingredients {
    display: flex;
    gap: 15px;
    flex-direction: column;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--light-grey);
}
.recipe__ingredients-heading {
    font-family: "Young Serif", sans-serif;
    font-weight: 500;
    font-size: 22px;
    color: var(--nutmeg);

}
.recipe__ingredients-list {
    list-style: none;

}
.recipe__ingredients-list-item {
    padding: 0;
}
.recipe__ingredients-list-item::before{
    content: ".";
    color: var(--nutmeg);
    font-size: 40px;
    line-height: 24px;
    padding-right: 20px;
}
.recipe__instructions {
padding: 20px 0;
    border-bottom: 1px solid var(--light-grey);
    
}
.recipe__instructions-heading {
    font-family: "Young Serif", sans-serif;
    font-weight: 500;
    font-size: 22px;
    color: var(--nutmeg);
}
.recipe__instructions-list {
    list-style: none;    
    padding: 10px;
}
.recipe__instructions-list-item {
    counter-increment: count;
}
.recipe__instructions-list-item::before{
    content: counter(count) ".";
    color: var(--nutmeg);
    font-size: 15px;
    font-weight: 600;
}

.recipe__nutrition {
   display: flex ;
   flex-direction: column;
   gap: 20px;
   padding: 20px 0;

}
.recipe__nutrition-heading {
      font-family: "Young Serif", sans-serif;
    font-weight: 500;
    font-size: 22px;
    color: var(--nutmeg);
}
.recipe__nutrition-table {

}
.recipe__nutrition-table-body {
    display: flex;
    flex-direction: column;
}
.recipe__nutrition-table-row {
    display: flex;
}
.recipe__nutrition-table-heading {

}
.recipe__nutrition-table-cell {

}

